<% include ../partials/header %>
  <header class='jumbotron'>
    <div class="container">
      <h1>Welcome To My Blog</h1>
      <p>Look through some of my wild ramblings...</p>
      <p>
        <a href="/blogs/new" class="btn btn-primary btn-lg">Add New Blog</a>
      </p>
    </div>
  </header>
  <div class="container">
    <div class="row text-center">
        <% blogs.forEach(function(blog){ %>
          <div class="col-md-12" style="padding: 20px; border-bottom: 2px solid lightgreen">
            <img src="<%= blog.image %>" style="width: 100%">
            <h1><%= blog.title %></h1>
            <p><%= blog.mainContent %></p>
            <a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
          </div>
        <% }) %>
      </div>
  </div>
  
<% include ../partials/footer %>