  <footer>
      <div class="social-links">
        <i class="fab fa-facebook-square socials"></i>
        <i class="fab fa-twitter-square socials"></i>
        <i class="fab fa-github-square socials"></i>
        <i class="fab fa-instagram socials"></i>
        <i class="fab fa-stack-overflow socials"></i>
      </div>
      <p>This Website was made by Brian Falasz. Any reproduction of this site will result in prosecution to the fullest extent of the law. Photos are courtesy of Font Awesome. Font is courtesy of Google Fonts.</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 </body>
</html>