<% include ./partials/header %>

<section>
  <h1>What am I Trying to Accomplish With This Site?</h1>
  <p>This is site is going to allow me the oppurtunity to first and foremost display my skills as a Web Developer. But, I'm also going to attempt to use this site to express myself as a person. Contrary to what others may tell you, I'm not as boring or stupid as they think.</p>
</section>

<section>
  <h1>Blog</h1>

<h2><%= blog.title %></h2>
  <button class="btn btn-primary">Read the Rest</button>
  <button class="btn btn-primary">Show More Blogs</button>
</section>

<% include ./partials/footer %>