.container {
  height: 100vh;
  padding: 20px;
}

/* Blog Index */

.jumbotron {
  background: url(https://static.planetminecraft.com/files/resource_media/screenshot/1708/pen-on-paper10869108_lrg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* footer */

footer {
	display: flex;
	flex-direction: column;
  align-items: center;
  bottom:0;
  width:100%;
	background-color: #391339;
	color: white;
}

.social-links {
	display: flex;
  flex-direction: row;
  padding: 10px;
}

.socials {
  font-size: 60px;
  padding: 10px;
	color: #4db8ff;
}

body {
  height: 100%;
}